.config {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.config .row {
  display: flex;
  justify-content: space-between;
}

/* .config .button { */
/*   border-radius: var(--quarter-unit); */
/*   box-shadow: var(--clickable-shadow); */
/*   background-color: var(--interactive-color); */
/*   color: white; */
/*   text-align: center; */
/*   padding: var(--half-unit); *\/
/*   margin: 0 var(--half-unit) var(--half-unit); */
/*   flex-grow: 1; */
/*   cursor: pointer; */
/* } */

.config input {
  border-radius: var(--quarter-unit);
  box-shadow: var(--clickable-shadow);
  background-color: white;
  border: none;
  padding: var(--half-unit);
  margin: 0 var(--half-unit) var(--half-unit);
  flex-grow: 1;
  cursor: pointer;
}
