#wrapper {
  width: var(--full-width);
  padding-bottom: var(--unit);
}

#bottom-wrapper {
  width: var(--full-width);
  height: var(--bottom-wrapper-height, 100vh);
  overflow: scroll;
}

@media only screen and (min-width: 375px) {
  #wrapper {
    margin-left: calc((100vw - var(--full-width)) / 2);
  }
}

@media only screen and (min-height: 900px) {
  #bottom-wrapper {
    overflow: auto;
  }
}

.hidden {
  display: none !important;
}
