#dice-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(var(--full-width) - var(--unit));
  margin-left: var(--half-unit);
  padding-top: var(--half-unit);
  position: relative;
}
